<header>
        <h3 style="text-align:center">Investments in education</h3>

    </header>

<div ng-controller="InveListCtrl">
            <div class="container">
                <div class="row">
                 
                        

                        <tr>
            
           <div class="col s2 center-align"><th>Elementos por página<input class="form-control" ng-model="limit"></th></div>
               <div class="col s2 center-align">
            <th class="text-center"><button class="btn waves-effect waves-light" ng-click="paginacion(0)">Paginar</button></th>
</div>
        </tr>
                <tr>
            <th class="text-center"><button class="btn waves-effect waves-light" ng-click="anterior()" ng-disabled="offset===0">Anterior</button></th>
            <th class="text-center"><button class="btn waves-effect waves-light" ng-click="siguiente()" ng-disabled="data.length<limit">Siguiente</button></th>

        </tr>
                        </ul>
                
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Year</th>
                            <th>Population</th>
                            <th>Risk of poverty</th>
                            <th>Investment in education</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" ng-model="newData.country" /></td>
                            <td><input class="form-control" ng-model="newData.year" /></td>
                            <td><input class="form-control" ng-model="newData.population" /></td>
                            <td><input class="form-control" ng-model="newData.riskpoverty" /></td>
                            <td><input class="form-control" ng-model="newData.inveducation" /></td>
                            
                            <td><button class="btn waves-effect waves-light" ng-click="addData()"><i class="material-icons">add</i></button></td>
                        </tr>
                        <tr ng-repeat="dataUnit in data">
                            <td>{{dataUnit.country}}</td>
                            <td>{{dataUnit.year}}</td>
                            <td>{{dataUnit.population}}</td>
                            <td>{{dataUnit.riskpoverty}}</td>
                            <td>{{dataUnit.inveducation}}</td>

                            
                            <td style="text-align:center"><a href="#!/inve/{{dataUnit.country}}/{{dataUnit.year}}" class="btn waves-effect waves-light"><i class="material-icons">edit</i></a>
                            <button class="btn waves-effect waves-light red" ng-click="deleteData(dataUnit)"><i class="material-icons">delete</i></button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>   
                            <div id="apikeyModal" class="modal">
                            <div class="modal-content">
                        <h4>Change apikey</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="form-control" type="text" id="apikey" ng-model="apikey">
                                        <label for="apikey" class="active">Apikey</label>
                        </div>
                    </div>
                </form>
            </div>
                    <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Set</a>
        </div>
        </div></td>
                            <td><button class="btn waves-effect waves-light green darken-1" ng-click="loadInitialData()">Load Initial Data<i class="material-icons left">recent_actors</i></button>
                                <button class="btn waves-effect waves-light red darken-2" ng-click="deleteAllData()">Delete All<i class="material-icons left">warning</i></button></br>
                                <button class="btn waves-effect waves-light orange darken-1" onClick="$('#apikeyModal').modal('open');">Change apikey<i class="material-icons left"></i></button>
                                <a href="#!/inve/graph" class="btn waves-effect waves-light purple darken-1">Graph<i class="material-icons left">trending_up</i></a></td>

                          <tr  <td>  <div id="searches" class="modal">
                  
                        <td>Introduce FROM<input class="form-control" ng-model="newData.from"></td>
                        <td>Introduce TO<input class="form-control" ng-model="newData.to"></td>
                        <td class="text-center"><button class="btn btn-success" ng-click="searches()">SEARCH</button></td>
                                                
             </div></td></tr>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="editModal" class="modal">
                <div class="modal-content">
                    <h4>Edit {{editDataUnit.oldCountry}} ({{editDataUnit.oldYear}})</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="form-control" type="text" id="country" ng-model="editDataUnit.country">
                                    <label for="country">Country</label>
                                </div>
                                <div class="input-field col s6">
                                    <input class="form-control" type="text" id="year" ng-model="editDataUnit.year">
                                    <label for="year"> Year </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="pop" ng-model="editDataUnit.population">
                                    <label for="pop"> Population </label>
                                </div>
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="ris" ng-model="editDataUnit.riskpoverty">
                                    <label for="ris"> Risk of Poverty </label>
                                </div>
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="inv" ng-model="editDataUnit.inveducation">
                                    <label for="inv"> Investment in education </label>
                                </div>

                                
                            </div>
                        </form>
                <div class="modal-footer">
                    <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                    <a href="#" ng-click="editData(editDataUnit)" class="modal-action modal-close waves-effect waves-green btn-flat ">Apply</a>
                </div>
            </div>


                            
                            
                        </form>
                    </div>
                </div>

            </div>



        </div>