<header>
        <h3 style="text-align:center">Early School Leavers</h3>
        <!--<nav>
            <div class="nav-wrapper blue">
                <a href="#!" class="brand-logo center"><i class="material-icons left">list</i>Earlyleavers Data</a>
                <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" ng-click="refresh()"><i class="material-icons left">refresh</i>Refresh</a></li>
                    <li><a href="#apikeyModal"><i class="material-icons left">vpn_key</i>Apikey</a></li>
                    <li><a href="#searchModal"><i class="material-icons left">search</i>Search</a></li>
                    <li><a href="../index.html"><i class="material-icons left">dashboard</i>Front page</a></li>
                </ul>
                <ul class="side-nav" id="mobile">
                    <li><a href="../index.html"><i class="material-icons left">dashboard</i>Front page</a></li>
                    <li><a href="#searchModal"><i class="material-icons left">search</i>Search</a></li>
                    <li><a href="#apikeyModal"><i class="material-icons left">vpn_key</i>Apikey</a></li>
                    <li><a href="#" ng-click="refresh()"><i class="material-icons left">refresh</i>Refresh</a></li>
                </ul>
            </div>
        </nav>-->
    </header>
    <main>
        <div ng-controller="EslListCtrl">
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div class="pagination">
                    <li class="disabled" ng-show="currentPage == 1"><a href=""><i class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect" ng-hide="currentPage == 1"><a href="" ng-click="previousPage()"><i class="material-icons">chevron_left</i></a></li>
                    
                    <span ng-repeat="page in pagesLeft">
                        <li class="waves-effect" ng-class="{active: page == currentPage}"><a href="" ng-click="setPage(page)">{{page}}</a></li>
                    </span>
                    <li ng-show="pagesLeft.length != 0 && pagesMid != 0">...</li>
                    <span ng-repeat="page in pagesMid">
                        <li class="waves-effect" ng-class="{active: page == currentPage}"><a href="" ng-click="setPage(page)">{{page}}</a></li>
                    </span>
                    <li ng-show="pagesMid.length != 0 && pagesRight != 0">...</li>
                    <li ng-show="pagesLeft.length != 0 && pagesMid.length == 0 && pagesRight != 0">...</li>
                    <span ng-repeat="page in pagesRight">
                        <li class="waves-effect" ng-class="{active: page == currentPage}"><a href="" ng-click="setPage(page)">{{page}}</a></li>
                    </span>
                    
                    <li class="disabled" ng-show="currentPage == maxPages"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect" ng-show="currentPage != maxPages"><a href="" ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
                </div>
                        </ul>
                    </div>
                </div>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th style="text-align:center">Country</th>
                            <th style="text-align:center">Year</th>
                            <th style="text-align:center">ESL Male</th>
                            <th style="text-align:center">ESL Female</th>
                            <th style="text-align:center">ESL Total</th>
                            <th style="text-align:center">ESL Objective</th>
                            <th style="text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" ng-model="newData.country" style="text-align:center"/></td>
                            <td><input class="form-control" ng-model="newData.year" style="text-align:center"/></td>
                            <td><input class="form-control" ng-model="newData.eslmale" style="text-align:center"/></td>
                            <td><input class="form-control" ng-model="newData.eslfemale" style="text-align:center"/></td>
                            <td><input class="form-control" ng-model="newData.esltotal" style="text-align:center"/></td>
                            <td><input class="form-control" ng-model="newData.eslobjective" style="text-align:center"/></td>
                            
                            <td style="text-align:center"><button class="btn-floating waves-effect waves-light" ng-click="addData()"><i class="material-icons">add</i>add</button></td>
                        </tr>
                        <tr ng-repeat="dataUnit in data">
                            <td style="text-align:center">{{dataUnit.country}}</td>
                            <td style="text-align:center">{{dataUnit.year}}</td>
                            <td style="text-align:center">{{dataUnit.eslmale}}</td>
                            <td style="text-align:center">{{dataUnit.eslfemale}}</td>
                            <td style="text-align:center">{{dataUnit.esltotal}}</td>
                            <td style="text-align:center">{{dataUnit.eslobjective}}</td>
                            
                            <!--<td><button class="btn-floating waves-effect waves-light yellow darken-3" ng-click="editDataModal(dataUnit)"><i class="material-icons">edit</i></button>
                            <button class="btn-floating waves-effect waves-light red" ng-click="deleteData(dataUnit)"><i class="material-icons">delete</i></button></td>-->
                            
                            <td style="text-align:center"><a href="#!/{{dataUnit.country}}/{{dataUnit.year}}" class="btn-floating waves-effect waves-light yellow darken-3"><i class="material-icons">edit</i></a>
                            <button class="btn-floating waves-effect waves-light red" ng-click="deleteData(dataUnit)"><i class="material-icons">delete</i></button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align:center"><button class="btn waves-effect waves-light green darken-1" ng-click="loadInitialData()">Initial<i class="material-icons left">recent_actors</i></button>
                                <button class="btn waves-effect waves-light red darken-2" ng-click="deleteAllData()">Delete<i class="material-icons left">warning</i></button></td>
                            <!--<td ng-show="data.length!=0"><button class="btn waves-effect waves-light green darken-1" ng-click="loadInitialData()"><i class="material-icons">recent_actors</i></button></td>
                            <td ng-show="data.length!=0"><button class="btn waves-effect waves-light red darken-2" ng-click="deleteAllData()"><i class="material-icons">delete</i>Remove all</button></td>-->
                        </tr>
                        <tr>
                            <td>
                                <div id="searches" class="modal">
                                    <td>Introduce FROM<input class="form-control" ng-model="newData.from"></td>
                                    <td>Introduce TO<input class="form-control" ng-model="newData.to"></td>
                                    <td><button class="btn-floating waves-effect waves-light" ng-click="searches()"><i class="material-icons">search</i></button></td>
                                    <td><button class="btn-floating waves-effect waves-light red darken-1" ng-click="refresh()"><i class="material-icons">replay</i></td>
                                </div>
                            </td>
                            <td>
                                <button class="btn waves-effect waves-light blue darken-1" onClick="$('#apikeyModal').modal('open');"><i class="material-icons left">vpn_key</i>Change apikey</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="searchModal" class="modal">
                <div class="modal-content">
                    <h4>Search</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="sfrom" ng-model="searchAdd['from']">
                                    <label for="sfrom">FROM</label>
                                </div>
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="sto" ng-model="searchAdd['to']">
                                    <label for="sto"> TO </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
                </div>
            </div>
            
            <!--<div id="searchModal" class="modal">
                <div class="modal-content">
                    <h4>Search</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="form-control" type="text" id="country" ng-model="search.country">
                                    <label for="country">Country</label>
                                </div>
                                <div class="input-field col s6">
                                    <input class="form-control" type="text" id="year" ng-model="search.year">
                                    <label for="year">Year</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="gdp" ng-model="searchAdd['gdp']">
                                    <label for="gdp">%GDP</label>
                                </div>
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="gdpg" ng-model="searchAdd['gdp_growth']">
                                    <label for="gdpg"> %GDP_Growth </label>
                                </div>
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="gdpd" ng-model="searchAdd['gdp_deflator']">
                                    <label for="gdpd"> %GDP_Deflator </label>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
                </div>
            </div>-->

            <div id="apikeyModal" class="modal">
        <div class="modal-content">
            <h4>Set apikey</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="form-control" type="text" id="apikey" ng-model="apikey">
                            <label for="apikey" class="active">Apikey</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Set</a>
        </div>
    </div>

        </div>
    </main>
